#\\\\\\\\\\\\#
#\GIT\IGNORE\#
#\\\\\\\\\\\\#

# Ignore all files
*

# Whitelist all directories but .terraform
!*/
.terraform/

# Whitelist all .tf files but backend
!*.tf
backend.tf

# Whitelist other files
!.gitignore
!*.sh